body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-family: Roboto,'Times New Roman', Times, serif;
}

.hero{
  display: flex;
  flex-direction: column;
}

.logo{
  
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
  
}

.header{
    background-color: #25293b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
}

ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 17px;
  }
a{
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

h1{
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.heroText{
  margin-top: 5px;
  margin-right: 50px;
}
.mainContent{
  background-color: #25293b;
  color: #f9faf8;
  display: flex;
  
  padding: 100px 200px;

}
.leftside{
  display: flex;
  flex-wrap: wrap;
  
  
}
input{
  color: #f9faf8;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #70747c;
}

.button1{
  background-color: #5a39fa;
  font-size: 20px;
  padding: 10px 30px;
  color: #f9faf8;
  font-weight: 900 ;
  border: none;
  border-radius: 15px;
}
.randomInformation{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px ;
}
h2{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
}

.card{
  border:5px solid #5a39fa;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.containerHuge{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.containerBig{
  display: flex;
  flex-direction: column;
  flex: 0 1 160px;
  align-items: center;
}

.some{
  display: flex;
  text-align: center;
  font-size: 17px;
  margin-top: 5px;
  color: #666a7a;
  font-weight: 500;
}

.quote{
  display: flex;
  background-color: #e5e7eb;
  /* top | right | bottom | left */
  padding: 130px 0px 90px 0px;
  justify-content: center;
}

.containerQuote{
  width: 800px;
  font-size: 36px ;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}
.blockquote{
  padding: 0px;
  margin: 0px;
}
.cite,cite{
  text-align: right;
  color:#1F2937;
  font-weight: 700;
  font-size: 23px;
  font-style: normal;
}

.callToAction{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  flex: 1;
}

.containerTextAction{
  background-color: #603cfc;
  display: flex;
  align-items: center;
  padding: 60px 120px;
  gap: 200px;
  border-radius: 10px;
}
h3{
  font-size: 26px;
  margin: 0px;
}
#callText{
  margin: 0px;
  color: #e5e7eb;
}
.containerText{
  color: white;
}
.button2{
  background-color:#603cfc;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  border-radius: 8px;
  width: 160px;
  height: 50px;
}
.footer{
  background-color: #25293b;
}
